# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/
out/

# VS Code
.vscode/

# Other
.DS_Store
